* {
  box-sizing: border-box;
}

body {
  background-color: #f1f1f1;
  background-image: linear-gradient(to bottom right, #eaf2f8, #c9d6e2);
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation-duration: 1s;
}

.user-card {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  animation-duration: 1s;
}

.error {
  color: red;
}
.form {
  display: flex;
  flex-direction: column;
}
.form input {
  margin-top: 10px;
}

.animate__animated {
  animation-duration: 1s;
}

.animate__bounce {
  animation-name: bounce;
}

.animate__fadeIn {
  animation-name: fadeIn;
}

.animate__fadeInUp {
  animation-name: fadeInUp;
}

.animate__zoomIn {
  animation-name: zoomIn;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes zoomIn {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 100%;
    padding: 10px;
  }

  input[type="text"],
  input[type="password"],
  input[type="submit"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 8px;
  }
}
